#main-menu {
  background-color: rgb(66, 66, 66);

  ul {
    li {
      button {
        color: #fff;
        padding: 5px 10px;
        transition: all 0.07s ease-in-out;

        &:hover {
          background-color: rgb(95, 95, 95);
        }
      }
    }
  }
}

canvas#main-canvas {
  background-color: rgba(0, 0, 0, 0.25);
  height: 0;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
